@import url(https://fonts.googleapis.com/css2?family=Roboto&display=swap%27);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

.black {
  background-color: #1c1c1c;
  height: 750px;
  margin-top: 90px;
}

.black .container-1 {
  width: 1400px;
  height: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

.black .container-1 #card {
  height: 200px;
  width: 200px;
  margin-left: 30px;
  margin-top: 50px;
}

.black .container-1 #card #price {
  position: absolute;
  bottom: 0;
  left: 5px;
  transform: translate -50%, -50%;
  font-weight: bold;
  color: #fff;
}

.black .container-1 #card img {
  width: 200px;
  height: 200px;
  transition: all 1s;
}

.black .container-1 #card img:hover {
  opacity: 0.6;
  cursor: pointer;
  transition: all 1s;
}

.black .container-1 #card p {
  color: #fff;
  font-size: 19px;
}

.black .load-more {
  width: 200px;
  margin: 80px auto;
}

.black button {
  background-color: #0282F9;
  border: none;
  padding: 10px 45px;
  font-weight: bold;
  color: #fff;
  cursor: pointer;
}

header {
  background-color: #0282F9;
  height: 30px;
  display: flex;
  align-items: center;
}

.header-container {
  margin: 0px auto;
  width: 1300px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

span {
  margin: 0 20px;
  color: white;
}

nav {
  width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  height: 150px;
  align-items: center;
}

.nav-ul {
  display: flex;
  list-style: none;
  height: 100%;
}

.nav-ul li {
  padding: 0 15px;
  height: 100%;
  line-height: 90px;
  font-weight: bold;
  cursor: pointer;
}

.nav-ul li:hover {
  color: #0282F9;
  border-bottom: 4px solid #0282F9;
}

.nav-ul li a {
  color: black;
  text-decoration: none;
}

.search {
  border-bottom: 3px solid #0282F9;
}

input {
  border: none;
}

.container {
  height: 440px;
  background: url("/images/footer-bg.jpg");
  display: flex;
}

.container .left {
  width: 600px;
  height: 400px;
  display: flex;
  padding-top: 30px;
  margin-left: 180px;
  flex-wrap: wrap;
}

.container .left .inner {
  margin-left: 45px;
}

.container .left h2 {
  color: #fff;
}

.container .left ul {
  list-style: none;
  padding-top: 14px;
}

.container .left ul li {
  padding-top: 6px;
  color: #7e7e7e;
}

.container .left .inner-shop {
  margin-top: 20px;
}

.container .right {
  width: 600px;
  margin-left: 260px;
  background: url("/images/dc-logo-bg.png") no-repeat;
}

.box {
  display: flex;
  justify-content: space-around;
  height: 110px;
  background-color: #303030;
}

.box .follow-us {
  display: flex;
  width: 500px;
  align-items: center;
  color: #076CC9;
}

.box .follow-us img {
  height: 35px;
  margin-left: 25px;
  cursor: pointer;
}

.box .sign-up {
  display: flex;
  align-items: center;
}

.box .sign-up button {
  border: 2px solid #037AE8;
  padding: 20px;
  background-color: #303030;
  color: #fff;
  font-weight: bold;
  font-size: 20px;
  width: 200px;
  cursor: pointer;
}

.jumbotron {
  height: 400px;
  background: url("/images/jumbotron.jpg");
  background-size: cover;
}

.series {
  background-color: #0376F2;
  border: none;
  padding: 10px 30px;
  font-weight: bold;
  font-size: 20px;
  color: #fff;
  position: relative;
  top: 380px;
  left: 250px;
  cursor: pointer;
}

