.black {
    background-color: #1c1c1c;
    height: 750px;

    .container-1 {
        width: 1400px;
        height: 600px;
        margin: 0 auto;
        display: flex;
        flex-wrap: wrap;

        #card {
            height: 200px;
            width: 200px;
            margin-left: 30px;
            margin-top: 50px;

            #price {
                position: absolute;
                bottom: 0;
                left: 5px;
                transform: translate (-50%, -50%);
                font-weight: bold;
                color: #fff;
            }

            img {
                width: 200px;
                height: 200px;
                transition: all 1s;

                &:hover {
                    opacity: 0.6;
                    cursor: pointer;
                    transition: all 1s;
                }
            }

            p {
                color: #fff;
                font-size: 19px;
            }
        }
    }

    .load-more {
        width: 200px;
        margin: 80px auto;
    }

    button {
        background-color: #0282F9;
        border: none;
        padding: 10px 45px;
        font-weight: bold;
        color: #fff;
        cursor: pointer;
    }
}
